<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--构造器循环依赖-->
    <bean id="D" class="com.patinousward.demo.test.springcir.D" depends-on="E" >
    </bean>

    <bean id="E" class="com.patinousward.demo.test.springcir.E" depends-on="F" >
    </bean>

    <bean id="F" class="com.patinousward.demo.test.springcir.F" depends-on="D" >
    </bean>

</beans>